anyio==4.9.0
asgiref==3.8.1
attrs==25.3.0
beautifulsoup4==4.13.3
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
Flask==3.1.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mpmath==1.3.0
numpy @ file:///home/builder/.termux-build/python-numpy/src/dist/numpy-2.2.4-cp312-cp312-linux_aarch64.whl#sha256=f85e9b55edf36233b0e2e5713ed7f7394b01e2e22506e791be1c0ae81435c472
outcome==1.3.0.post0
pillow==11.1.0
pyaes==1.6.1
pyasn1==0.6.1
Pyrogram==2.0.106
PySocks==1.7.1
pyTelegramBotAPI==4.26.0
python-telegram-bot==22.0
qrcode==8.0
requests==2.32.3
rsa==4.9
seledroid==2.0.4
selenium==4.30.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
sympy==1.13.3
Telethon==1.39.0
trio==0.29.0
trio-websocket==0.12.2
typing_extensions==4.12.2
urllib3==2.3.0
websocket-client==1.8.0
Werkzeug==3.1.3
wsproto==1.2.0
